:root{
    --header-heigth: 5.5rem;
    
    /* colors */
    --text-color: #fff;
    --body-color: #262262;
    --first-color: #f8aa9f;
    --second-color: #f8909e;
    /* fonts */
    --title-font: 'Bitter', serif;

}
html{
    scroll-behavior: smooth;
}
body{
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) no-repeat center / cover;
    background-attachment: fixed;
    color: var(--text-color);
}
.title{
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: 900;
}
.section{
    /* position: relative; */
    width: 100%;
    height: 100vh;
}
.container{
    padding: var(--header-heigth) 0 0 0;
    max-width: 1380px;
    margin: 0 auto;
}
.scroll-nav{
    background-color: var(--body-color);
}

/* HEADER */
.header{
    overflow: hidden;
    position: relative;
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.home_title{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.home_intro{
    position: relative;
}
.title_center{
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px #473a44;
}
.title_top,
.title_bottom{
    position: absolute;
    font-size: .9rem;
}
.title_top{
    top: -1.8rem;
    left: 0;
}
.title_bottom{
    bottom: -1.8rem;
    right: 0;
}
strong{
    font-size: 1.1rem;
    font-weight: 900;
}
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: no-repeat center / cover;
}
.home_grass{
    background-image: url(../images/grass.png);
}
.home_grass2{
    background-image: url(../images/grass2.png);
}
.home_woman{
    position: absolute;
    width: 150px;
    height: 300px;
    bottom: 10%; left: 25%;
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    background-size: 8rem;
}
.home_grass.ani_on{
    animation: fadeIn .8s .4s both, slideUp .8s .4s both;
}
.home_grass2.ani_on{
    animation: fadeIn .8s .8s both, slideUp .8s .8s both;
}
.home_woman.ani_on{
    animation: fadeIn 3s 1.2s both;
}
.stars span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1), 0 0 0 8px rgba(255,255,255,0.1);
    animation: stars 3s linear infinite;
}
.stars span::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
.stars span:nth-child(1){
    top: 0;
    left: 35%;
    animation-delay: 0;
    animation-duration: 3s;
}
.stars span:nth-child(2){
    top: 10%;
    left: 10%;
    animation-delay: 0;
    animation-duration: 3s;
}
.stars span:nth-child(3){
    top: 20%;
    left: initial;
    right: 0;
    animation-delay: 0;
    animation-duration: 4s;
}
.stars span:nth-child(4){
    top: 20%;
    left: initial;
    right: 20%;
    animation-delay: 0;
    animation-duration: 2s;
}
.stars span:nth-child(5){
    top: 20%;
    left: 50%;
    animation-delay: 0;
    animation-duration: 5s;
}
.nav{
    position: fixed;
    width: 97%;
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
}
.nav_logo{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 2px #473a44;
}
.nav_list{
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.nav_link{
    font-size: 1.4rem;
    color: var(--text-color);
}
.nav_link:hover{
    color: var(--first-color);
}
.nav-active{
    color: var(--first-color);
}
.nav_close,
.nav_hamburger{
    display: none;
}

/* MAIN */
.main{
    left: 0; right: 0; top: 0; bottom: 0;
    background: var(--body-color);
    opacity: .85;
    background-attachment: fixed;
    overflow: hidden;
}
/* ABOUT */
.about_container{
    position: relative;
    width: 100%;
    height: 100%;
}
/* .about_title{
    position: absolute;
} */
.about_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
}
.about_left{
    position: relative;
    flex: 1;
}
.about_right{
    flex: 2;
    margin: 0 2rem;
}
.about_img{
    width: 23rem;
    border-radius: 50%;
    display: block;
}
.about_name{
    position: absolute;
    left: 3rem;
    top: 18rem;
    font-size: 3rem;
    color: var(--first-color);
}
.box{
    margin-bottom: 2.3rem;
}
.about_right h2{
    padding-bottom: 1.3rem;
    font-size: 1.3rem;
    font-weight: 900;
}
.about_right h2::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fff;
    margin-right: .8rem;
}
.about_intro p{
    line-height: 1.4rem;
    margin-left: 1rem;
}
.certi_container{
    display: flex;
    margin-left: 1rem;
}
.certi_item{
    width: 7.8rem;
    height: 6.5rem;
    margin-right: 2rem;
    text-align: center;
    background: #fff;
    border-radius: 10%;
    color: #000;
    font-size: .8rem;
    box-shadow: 2px 2px 10px -1px rgba(0,0,0.15), -2px -2px 10px -1px rgba(255,255,255,0.7);
    cursor: pointer;
}
.certi_img{
    width: 3.2rem;
    padding: .8rem 0;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.skill_item{
    text-align: center;
    font-size: 1.1rem;
}
.skill_chart{
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto 1rem;
}
.chart_outer{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 2px 2px 10px -1px rgba(0,0,0.15), -2px -2px 10px -1px rgba(255,255,255,0.7);
}
.chart_inner{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 1px 1px 6px -1px rgba(0,0,0,0.2), inset -1px -1px 6px -1px rgba(255,255,255,0.7), -0.1px -0.1px 0px rgba(255,255,255,1), 0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 346;
    stroke-dashoffset: 346;
    animation: chart 1s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}

/* 계산방법 346-(346*0.9) */
@keyframes chart{
    100%{
        stroke-dashoffset: 35;
    }
}












/* ANIMATION */
@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes slideUp{
    0% {transform:translateY(5%);}
    100% {transform:translateY(0%);}
}
@keyframes stars{
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

